<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="src/css/style.css" />
    <title>User Login</title>
  </head>
  <body onload="loaded()">
    <div id="centerDiv">
      <h1>User Login</h1>
      <form id="userForm" method="post" 1action="/login">
        <div class="input-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required />
        </div>
        <div class="input-group">
          <label for="password">Password:</label>
          <input
            type="password"
            id="password"
            name="password"
            required
            autocomplete="off"
          />
        </div>

        <div class="button-container">
          <!--          <input type="submit" value="Register" />-->
          <input type="submit" value="Login" />
          <a href="/register">Register</a>
        </div>
        <div class="warning" id="warningMessage"></div>
      </form>
    </div>
    <script>
      async function doLogin(e) {
        e.preventDefault();
        const email = document.getElementById("email").value;
        const password = document.getElementById("password").value;
        const res = await fetch("/login", {
          method: "POST",
          cache: "no-cache",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ email, password }),
        });

        const status = await res.json();
        console.log("status", status);
        if (status.status) {
          location.assign("/mm");
        } else {
          document.getElementById("warningMessage").innerText = status.message;
        }
        // return res.json();
      }

      function loaded() {
        document.getElementById("userForm").addEventListener("submit", doLogin);
      }
    </script>
  </body>
</html>
