<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="src/css/style.css" />
    <link rel="stylesheet" href="src/assets/css/all.css" />
    <title>Registration</title>
  </head>
  <body>
    <div class="login-registration">
      <h1>Register</h1>
      <hr />
      <!--      <form action="/register" method="post">-->
      <form id="register">
        <div class="form-row">
          <label class="icon" for="uname">
            <i class="fa-regular fa-user"></i>
          </label>
          <input
            type="text"
            id="uname"
            name="uname"
            placeholder="Username"
            required
          />
        </div>
        <div class="form-row">
          <label class="icon" for="email">
            <i class="fa-regular fa-envelope"></i>
          </label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Email"
            required
          />
        </div>
        <!--                <div class="form-row">-->
        <!--                  <label class="icon" for="password">-->
        <!--                    <i class="fa-solid fa-unlock"></i>-->
        <!--                  </label>-->
        <!--                  <input-->
        <!--                    type="password"-->
        <!--                    id="password"-->
        <!--                    name="password"-->
        <!--                    placeholder="Password"-->
        <!--                    required-->
        <!--                  />-->
        <!--                </div>-->
        <button type="submit" onclick="doRegister(e)">Register</button>
      </form>
      <a href="login.html">Login</a>
    </div>
    <script type="text/javascript">
      async function doRegister(e) {
        console.log("register...");
      }
    </script>
  </body>
</html>
