<!DOCTYPE html>
<html>
  <head>
    <title>HTML Page with Embedded JavaScript and Form</title>
    <style>
      .center {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
      }
      .center .rounded {
        border-radius: 10px;
      }
    </style>
  </head>
  <body>
    <div class="center">
      <h1>Register or Login</h1>
      <form action="/" method="POST">
        <input
          type="text"
          name="username"
          placeholder="Username"
          class="rounded"
        />
        <input type="email" name="email" placeholder="Email" class="rounded" />
        <button type="submit">Register</button>
        <button type="submit">Login</button>
      </form>
    </div>
    <script>
      function register() {
        console.log("You have clicked the register button.");
      }
      function login() {
        console.log("You have clicked the login button.");
      }
    </script>
  </body>
</html>
